<br><br> <br>
<div>
  <span class="actions">
<%= form_with url: sessions_path, local: true do |f| %>
<%= f.label :username %>
<%= f.text_field :username, autocomplete: :off %> <br>
<%= f.label :password %>
<%= f.password_field :password %> <br>
<%= f.submit %>
<% end %>
</span>
</div>
