<p> Want to adopt a dog?<%= User.find(session[:user_id]).location %> </p>
<ul>
  <br> <br>
<% @dogs.each do |dog| %>
<img src= <%= dog.photos.first.medium%> > <br>
<h3><%= link_to dog.name, dog_path(dog.id) %> </h3>
<li><b>Age:</b> <%= dog.age %> </li>
<li><b>Sex:</b> <%= dog.sex %> </li>
  <li><b> Breed(s):</b> <br> <% dog.breeds.each do |breed| %>
    <%= breed %> <br>
    <% end %> </li>
    <li><b>Shelter: </b> <%= dog.shelter_id %> </li>
    <br>
<% end %>
</ul>
