<style>
.hmm {
  width: 700px;
}
</style>
<div id="showy"><h1><%= @dog.name %></h1>
<div class="hmm"><img src= <%= @dog.photos.first.medium %> </div><br>
  <br> <br>
  <b>Size:</b> <%= @dog.size %> <br>
  <b>Age:</b> <%= @dog.age %> <br>
  <b>Breeds:</b>
<ul>
<% @dog.breeds.each do |breed| %>
<li>
<%= breed %>
</li>
<% end %>

</ul>
<br>

  <b><%= @dog.description_sanitized %></b>
<br><br>
<br><br>
<% if session[:user_id] %>
<%= form_for @wishlist do |f| %>
<%= f.hidden_field :user_id, value: @user.id %>
<%= f.hidden_field :dog_id, value: @dog.id %>
<%= f.submit  %>
<% end %>
<% end %>
<%= mail_to @dog.contact.split.last, "Do you want to adopt me? Click Here!! :)" %> <br>
<%=link_to "Click here to check out my shelter: #{@dog.shelter_id}", shelter_path(@dog.shelter_id) %> <br>
<br> <br>
</div>

<div class="container_container">
  <% @dog.photos.each do |photo| %>
<div class="container">

  <a href="<%=photo.large %>" target="blank"> <img src="<%= photo.large %>"alt="Avatar" class="dog_image" style="width:100%"> </a>

</div>
<% end %>
</div>
