<h1><%= @dog.name %></h1>

<img src= <%= @dog.photos.first.large %> > <br>
  <br> <br>

  <%= @dog.description_sanitized %>
<ul>
<% @dog.breeds.each do |breed| %>
<li>
<%= breed %>
</li>
<% end %>

</ul>

<%= link_to "Do you want to adopt me? :)", '/users' %>
<br> <br> <br>
<% @dog.photos.each do |photo| %>
<img src= <%= photo.large %>> <br>
<% end %>
