<h1>NEW USER!</h1>

<%= form_for @user do |f| %>
<%= f.label :username %>
<%= f.text_field :username %> <br>
<%= f.label :password %>
<%= f.password_field :password %> <br>
<%= f.label :email %>
<%= f.text_field :email %> <br>
<%= f.label :name %>
<%= f.text_field :name %> <br>
<%= f.label :location %>
<%= f.number_field :location, maxlength: 5 %> <br>
<%= f.submit "sign up" %>
<% end %>
