<button><%= link_to "Edit your profile!", edit_user_path(@user) %> </button>
<br><br><br>
<%= form_with url: session_path, method: :delete, local: true do |f| %>
     <%= f.button "log out", id: "log_out" %>
    <% end %>
    <br>
    <h2>Wishlist!</h2>
    <br><br><br>
    <hr>
<div class="container_container">


  <% @user.wishlists.each do |wish| %>
<div class="container">

  <img src="<%= $petfinder.pet(wish.dog_id).photos.first.large %>"alt="Avatar" class="dog_image" style="width:100%">
  <div class="middle">
    <div class="text">
      <%= link_to $petfinder.pet(wish.dog_id).name, dog_path(wish.dog_id) %> <br>
      <hr>
      <%= $petfinder.pet(wish.dog_id).sex %> <br>
      <%= $petfinder.pet(wish.dog_id).age %>
    </div>
  </div>
</div>
<% end %>
</div>
