<!DOCTYPE html>
<html>
  <head>
    <title>PetAdventure</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/dogs">Pups</a>
      <a href="/shelters">Shelters</a>
      <a href="/events">Events</a>
    <span id="nav_bar"> <% if @logged_in %>

              <%= link_to @user.username.upcase, edit_user_path(@user) %>

              <%= form_with url: session_path, method: :delete, local: true do |f| %>
                <%= f.submit "log out" %>
              <% end %>

          <% else %>
            <%= link_to "Register", new_user_path %>
            <%= link_to "Log in", new_session_path %>
          <% end %>
          </span>
          </div>
          <body>
          <% if @errors %>
      <ul class="errors">
        <% @errors.each do |error| %>

            <%= error %>

        <% end %>
      </ul>
      <% end %>
</body>
   <br>
    <%= yield %>

</html>
