<!DOCTYPE html>
<html>
  <head>
    <title>PetAdventure</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/dogs">Pups</a>
      <a href="/events">Events</a>
      <% if @logged_in %>
            <li>
              Hey, <%= @user.username.upcase %>!
            <li>
            <li>
              <%= form_with session_path, method: :delete, local: true do |f| %>
                <%= f.submit "log out" %>
              <% end %>
            </li>
          <% else %>
            <%= link_to "Register", new_user_path %>
            <%= link_to "Log in", new_session_path %>
          <% end %>


    </div>


   <br>
    <%= yield %>
  </body>
</html>
